.modal{
    border: none;
    width: 60%;
    height: 400px;
}

.modal-container{
 border-radius: var(--radius-1);
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 40px 24px;
}

.card-modal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: auto;
    gap: 10px;
    height: 52px;
    margin-bottom: 10px;
}

.card-modal h2{
    font-family: 'Inter';
    font-size: 20px; 
    padding:0;
}

.card-modal p{
    font-family: 'Inter';
    font-size: 14px; 
    padding:0;
    color: #495057;
}

.modal-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #212529; 
    margin-top:20px
}

.modal-content{
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    margin-top: 20px;
}

.modal-button{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: stretch;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
}
